.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.options a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #3b78eb;
  color: white;
}

.options {
  float: left;
}

.profile a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  margin-right: 10%;
  text-decoration: none;
  font-size: 17px;
}

.CollectionsContainer {
  height: 30em;
  width: 100%;
}

.Collection {
  width: 20em;
  height: 20em;
  margin: 5em 1em;
  display: inline-block;
  background-image: url("./images/placeholdersquare.png");
  background-position: center;
  position: relative;
}

.TextContainer {
  width: 100%;
  height: 5em;
  position: absolute;
  bottom: 0px;
  background-image: url("./images/bannercollections.png");
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
